.Wist {
    width: 100%;
    height: 100vh;
    color: #fff;
    position: relative;
    padding-top: 60px;
}

.overlay {
    background-color: rgba(0,0,0,0.1) ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}

p{
    font-size: 10px;
}

.Wist .content {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 1rem;

}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-main {
    position: fixed;
    background-color: white;
    width: 60%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: black;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 200px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.container > div {
    background-color: #f0f0f0;
    padding: 1rem;
    text-align: center;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container > div h2 {
    margin-top: 0;
}

.container > div p {
    color: black;
}

.container > div button {
    margin-bottom: 0;
}

.container > div:nth-child (1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-radius: 20px;
    width: 211px;
    height: 298px;
}

.container > div:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-radius: 20px;
    width: 211px;
    height: 298px;
}

.container > div:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-radius: 20px;
    width: 337px;
    height: 152px;
}

.container > div:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-radius: 20px;
    width: 337px;
    height: 152px;
}

.container > div:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    border-radius: 20px;
    width: 211px;
    height: 298px;
}

.container > div:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border-radius: 20px;
    width: 211px;
    height: 298px;
}


